<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="TSHIRTConnectionString" connectionString="Data Source=.;Initial Catalog=TSHIRT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="T_shirtConnectionString" connectionString="Data Source=.;Initial Catalog=T_shirt;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Tshirt_DbConnectionString" connectionString="Data Source=.;Initial Catalog=Tshirt_Db;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TShirtDBConnectionString" connectionString="Data Source=.;Initial Catalog=TShirtDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>